/* Coolors Exported Palette - https://coolors.co/456963-af9066-f8faf5-414141-91968f */

/* CSS HEX */
--deep-teal: #456963ff;
--camel: #AF9066ff;
--porcelain: #F8FAF5ff;
--gunmetal: #414141ff;
--grey-olive: #91968Fff;

/* CSS HSL */
--deep-teal: hsla(170, 21%, 34%, 1);
--camel: hsla(35, 31%, 54%, 1);
--porcelain: hsla(84, 33%, 97%, 1);
--gunmetal: hsla(0, 0%, 25%, 1);
--grey-olive: hsla(103, 3%, 57%, 1);

/* SCSS HEX */
$deep-teal: #456963ff;
$camel: #AF9066ff;
$porcelain: #F8FAF5ff;
$gunmetal: #414141ff;
$grey-olive: #91968Fff;

/* SCSS HSL */
$deep-teal: hsla(170, 21%, 34%, 1);
$camel: hsla(35, 31%, 54%, 1);
$porcelain: hsla(84, 33%, 97%, 1);
$gunmetal: hsla(0, 0%, 25%, 1);
$grey-olive: hsla(103, 3%, 57%, 1);

/* SCSS RGB */
$deep-teal: rgba(69, 105, 99, 1);
$camel: rgba(175, 144, 102, 1);
$porcelain: rgba(248, 250, 245, 1);
$gunmetal: rgba(65, 65, 65, 1);
$grey-olive: rgba(145, 150, 143, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #456963ff, #AF9066ff, #F8FAF5ff, #414141ff, #91968Fff);
$gradient-right: linear-gradient(90deg, #456963ff, #AF9066ff, #F8FAF5ff, #414141ff, #91968Fff);
$gradient-bottom: linear-gradient(180deg, #456963ff, #AF9066ff, #F8FAF5ff, #414141ff, #91968Fff);
$gradient-left: linear-gradient(270deg, #456963ff, #AF9066ff, #F8FAF5ff, #414141ff, #91968Fff);
$gradient-top-right: linear-gradient(45deg, #456963ff, #AF9066ff, #F8FAF5ff, #414141ff, #91968Fff);
$gradient-bottom-right: linear-gradient(135deg, #456963ff, #AF9066ff, #F8FAF5ff, #414141ff, #91968Fff);
$gradient-top-left: linear-gradient(225deg, #456963ff, #AF9066ff, #F8FAF5ff, #414141ff, #91968Fff);
$gradient-bottom-left: linear-gradient(315deg, #456963ff, #AF9066ff, #F8FAF5ff, #414141ff, #91968Fff);
$gradient-radial: radial-gradient(#456963ff, #AF9066ff, #F8FAF5ff, #414141ff, #91968Fff);